body {
    background-color: #fff7e6; /* Color cálido */
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.form-container {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
.hidden {
    display: none;
}
.form-floating {
    margin-bottom: 1rem;
}
.bi {
    margin-right: 0.5rem;
}
.btn-primary {
    background-color: #e67300;
    border-color: #e67300;
}
.btn-primary:hover {
    background-color: #cc6600;
    border-color: #cc6600;
}
.btn-success {
    background-color: #00cc66;
    border-color: #00cc66;
}
.btn-success:hover {
    background-color: #00994d;
    border-color: #00994d;
}
</style>