:root {
    --color-beige-100: #F5E6D3;
    --color-beige-200: #E6D2B8;
    --color-coffee-600: #7E5539;
    --color-coffee-700: #6B4423;
    --color-coffee-800: #583E23;
    --color-cappuccino-100: #E6CCB2;
    --color-cappuccino-200: #D9B99B;
    --color-cappuccino-300: #C9A883;
}

body {
    font-family:'Times New Roman','Georgia', serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-beige-100);
    color: var(--color-coffee-800);
    line-height: 1.6;
}

header {
    background-color: var(--color-coffee-600);
    color: var(--color-beige-100);
    padding: 1rem;
    text-align: center;
}

header img {
    width: 100px; 
    height: 100px;
    object-fit: cover;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: var(--color-beige-100);
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: var(--color-cappuccino-300);
}

main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

img {
    width: 200px; 
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
    transition: transform 0.3s ease;
}

img:hover {
    transform: translateY(-10px); 
}

.products {
    flex: 2;
    margin-right: 2rem;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}

.product-item {
    background-color: var(--color-beige-200);
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
}

.cart {
    flex: 1;
    background-color: var(--color-cappuccino-100);
    padding: 1rem;
    border-radius: 8px;
    position: sticky;
    top: 2rem;
    max-height: calc(100vh - 4rem);
    overflow-y: auto;
}

button {
    background-color: var(--color-coffee-700);
    color: var(--color-beige-100);
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 4px;
}

button:hover {
    background-color: var(--color-coffee-800);
}

select {
    padding: 5px 8px; 
    margin: 10px;
    border-radius: 8px;
    border: 1px solid var(--color-coffee-800);
    background-color: var(--color-beige-200);
    color: var(--color-coffee-800); 
    font-size: 0.9rem; 
    transition: background-color 0.3s ease, color 0.3s ease; 
    font-family: 'Times New Roman', Times, serif;
    }

    select:hover {
        background-color: var(--color-beige-100); 
        color: var(--color-coffee-600); 
    }
footer {
    background-color: var(--color-coffee-600);
    color: var(--color-beige-100);
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }
    
    .products {
        margin-right: 0;
        margin-bottom: 2rem;
    }
    
    .cart {
        position: static;
        max-height: none;
    }
}
